@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --header-bg-color: #00809D;
    --header-text-color: #FF7601;
    --main-bg-color: #ffebd9;
    --main-text-color: #00809D;
    --link-color: #db9600;
}
.header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding-top: 3.5vw;
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 1.5px rgb(0, 0, 0);
}

/* had to cuz suckd on mobile */
@media (max-width: 600px) {
    .header {
        padding-top: 0.5em;
        min-height: 40px;
    }
}

.header h1 {
    font-size: clamp(2em, 6vw, 4em); /* sempre leggibile e responsivo */
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    line-height: 1.1;
    padding-bottom: 0.5em;
}
.nav-links {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100vw; 
    background-color: var(--header-bg-color);
}
.nav-links a {
    flex: 1 1 33.33%; /* a bit strange but managed to make it work,  */
    display: flex;
    justify-content: center;
    font-size: clamp(1.7em, 1.8vw, 2em);
    padding-bottom: 4px;
    transition: 
        background 0.5s,
        color 0.5s,
        font-size 0.5s;
    color: var(--header-text-color);
    text-decoration: none; /* remove the underline */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    
}

.nav-links a:hover {
    color: var(--header-bg-color);
    background: var(--header-text-color);
    font-size: clamp(1.9em, 2vw, 2.2em);
}
.footer{
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: all 1s bottom;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--main-text-color);
}
main {
    flex: 1;
}
#content {
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: clamp(1.5em, 2vw, 1.7em);
}
/* per debugging */
/* * {
    outline: 1px solid red !important;
} */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
.note{
    font-size: 0.8em;
    color: var(--main-text-color);
}
#content h1 {
    margin-bottom: 0px;
}
#content p {
    margin-top: 0px;
    margin-bottom: 0.1em;
}